@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@layer utilities {
  .wrapper {
    @apply w-full max-w-7xl mx-auto p-5 md:px-10 xl:px-0;
  }
  
  .custom__btn {
    @apply px-8 py-1 bg-primary text-white rounded-xl border border-primary hover:text-primary hover:bg-white
  }
}